@charset "utf-8";

.miso-popular-list ul { padding:0px; margin:0px; line-height:22px; list-style:none; }
.miso-popular-list li { margin:0; padding:0px; }
.miso-popular-list li .icon { color:#ddd; }
.miso-popular-list li .count { margin-left:8px; margin-right:4px; margin-top:2px; }
.miso-popular-list li.item-none { padding:50px 10px; }
.miso-popular-list li.btn-wset { display:none; }
