@charset "utf-8";

.miso-member ul { padding:0px; margin:0px; line-height:22px; list-style:none; }
.miso-member li { margin:0; padding:0px; }
.miso-member li .icon { color:#ddd; }
.miso-member li .count { margin-left:8px; margin-right:4px; margin-top:2px; }
.miso-member li.item-none { padding:50px 10px; }
.miso-member li.btn-wset { display:none; }
